<div class="page-sidebar sidebar horizontal-bar">
	<div class="page-sidebar-inner">
		<ul class="menu accordion-menu">
			<li class=""><a href="<%=basepath%>dashboard"><span class="menu-icon icon-speedometer"></span><p>Home</p></a></li>
			<li class="droplink "><a href="<%=basepath%>ledgers.html"><span class="menu-icon icon-layers"></span><p>Register</p></a>
				<ul class="sub-menu">
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>ledgers.html"><span class="menu-icon icon-book-open"></span>Ledger Details</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>addledger.html"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>account_groups.html"><span class="menu-icon icon-folder"></span>A/c Group</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>account_groups/add"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>templates.html"><span class="menu-icon icon-puzzle"></span>Templates</a></span></li>
				</ul>
			</li>
			<li class="droplink "><a href="<%=basepath%>passengers.html"><span class="menu-icon icon-check"></span><p>Adjustment</p></a>
				<ul class="sub-menu">
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>passengers.html"><span class="menu-icon icon-users"></span>Passenger</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/adjust_stock.html"><span class="menu-icon icon-shuffle"></span>New Sale Rate</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>sales/cancel.html"><span class="menu-icon icon-fire"></span>Cancellation</a></span></li>
				</ul>
			</li>
			<li class="droplink "><a href="<%=basepath%>purchases.html"><span class="menu-icon icon-docs"></span><p>Transactions</p></a>
				<ul class="sub-menu">
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>purchases.html"><span class="menu-icon icon-credit-card"></span>Purchases</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>purchases/add"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>sales.html"><span class="menu-icon icon-basket-loaded"></span>Sales</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>addsale.html"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>vouchers/mr/"><span class="menu-icon icon-doc"></span>Receipt Vouchers</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>vouchers/add/mr"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>vouchers/pv/"><span class="menu-icon icon-doc"></span>Payment Vouchers</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>vouchers/add/pv"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>vouchers/dn/"><span class="menu-icon icon-doc"></span>Debit Note</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>vouchers/add/dn"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>vouchers/cn/"><span class="menu-icon icon-doc"></span>Credit Note</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>vouchers/add/cn"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>vouchers/jv/"><span class="menu-icon icon-doc"></span>Journal Vouchers</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>vouchers/add/jv"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
				</ul>
			</li>
			<li class="droplink "><a href="<%=basepath%>routeplanner"><span class="menu-icon icon-plane"></span><p>Flights</p></a>
				<ul class="sub-menu">
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>routeplanner/"><span class="menu-icon icon-pointer"></span>Route Planner</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>flights/"><span class="menu-icon icon-directions"></span>Book Ticket</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>flights/enquiry/"><span class="menu-icon icon-question"></span>Status Enquiry</a></span></li>
				</ul>
			</li>
			<li class="droplink "><a href="<%=basepath%>events"><span class="menu-icon icon-grid"></span><p>Activities</p></a>
				<ul class="sub-menu">
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>events/"><span class="menu-icon icon-clock"></span>Events</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>events/add"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>tasks/"><span class="menu-icon icon-pin"></span>Tasks</a></span></li><li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>calendar/"><span class="menu-icon icon-calendar"></span>Calendar</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>events/add"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
					<li><span style="float:left;width:78%;"><a style="padding:10px 5px !important;" href="<%=basepath%>imports/"><span class="menu-icon icon-arrow-down"></span>Import</a></span><span style="float:left;width:20%;"><a href="<%=basepath%>imports/add"><span class="menu-icon fa fa-plus-square-o"></span></a></span></li>
				</ul>
			</li>
			<li class="droplink "><a href="<%=basepath%>reports/name_list_to_airline"><span class="menu-icon icon-bar-chart"></span><p>Reports</p></a>
				<ul class="sub-menu">
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/name_list_to_airline/"><span class="menu-icon icon-bar-chart"></span>Name-list to Airline</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/stock_statement/"><span class="menu-icon icon-bar-chart"></span>Stock Statement</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/payment_due_statement/"><span class="menu-icon icon-bar-chart"></span>Payment Due (Agents)</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/payment_due_issue_date/"><span class="menu-icon icon-bar-chart"></span>Payment Due (Issue Date)</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/payment_to_airline/"><span class="menu-icon icon-bar-chart"></span>Payment To Airline</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/day_end_summary/"><span class="menu-icon icon-bar-chart"></span>Day End Summary</a></span></li>
					<li><span style="float:left;width:"><a style="padding:10px 5px !important;" href="<%=basepath%>reports/ledgers/"><span class="menu-icon icon-bar-chart"></span>Ledger Details</a></span></li>
				</ul>
			</li>
			<li class=""><a href="<%=basepath%>emails/settings/"><span class="menu-icon icon-envelope-open"></span><p>Mailbox</p></a></li>
		</ul>
	</div>
</div><!-- Page Sidebar Inner -->